body {
	color:black;
	background-color: white;
	text-align: left;
	margin-top: 0.2em;
	margin-bottom: 0em;
}
h1,h2,h3,h4,h5,h6, p {
	margin-top: 0.5em;
	margin-bottom: 0em;
}
div {
	margin-top: 0em;
	margin-bottom: 0em;
}
pre div {
	margin-top: -1.2em;
	margin-bottom: -1.2em;
}
pre {
	color:dimgray;
	margin-top: 0em;
	margin-bottom: 0em;
}
	
.toc {
	width: 25%;
	float: right;
	padding: 0.3em;
	border: 0.2em solid gray;
	margin: 0.2em;
	background-color: lightgray;
	color: black;
	/* keep text from wrapping in toc using overflow and white-space*/
	overflow: hidden;
	white-space: nowrap;
	/* keep toc stuck to page, don't let it scroll off */
	position: -webkit-sticky; /* Safari browser needs this */
	position: sticky; /* other browsers need this */
	top: 0;
}
ul.tight {
	margin-left: -0.5em;
}
.tight {
	margin-top: 0.1em;
	margin-bottom: 0em;
}

